myenv/
myenv310/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.env
*.log
checkpoint.bin
models/ChordMini/
models/Beat-Transformer/save/
models/Beat-Transformer/data/
models/Beat-Transformer/test_audio/
models/Beat-Transformer/__pycache__/
models/Beat-Transformer/checkpoint/fold_0_trf_param.pt
models/Beat-Transformer/checkpoint/fold_1_trf_param.pt
models/Beat-Transformer/checkpoint/fold_2_trf_param.pt
models/Beat-Transformer/checkpoint/fold_3_trf_param.pt
models/Beat-Transformer/checkpoint/fold_5_trf_param.pt
models/Beat-Transformer/checkpoint/fold_6_trf_param.pt
models/Beat-Transformer/checkpoint/fold_7_trf_param.pt
!models/Beat-Transformer/checkpoint/fold_4_trf_param.pt
/scipy_patch.py
